.dashboard {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.deckList {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.deck {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.dashboardButton {
  display: flex;
  margin: auto;
  width: 150px;
}

.playerPicture {
  background-color: gray;
}

.view {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.cardList {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.deckName {
  display: flex;
  margin: auto;
}

.toggleButtons {
  display: flex;
  margin: auto;
  width: 300px;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  padding-top: 50px;
}

.weaponButton {
  width: 300px;
  margin: auto;
}

.weaponButton + .weaponButton {
  margin-top: 10px;
}

.weaponPage {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.weaponTitle {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.stats {
  display: flex;
  flex-direction: column;
}

input {
  display: none;
}

label {
  font-weight: normal;
}

.battlePage {
  display: flex;
}

.radioButton {
  display: block;
}

.row {
  display: flex;
  margin: 0;
}
